$rang: #EC6C21;
$title: #002959;
* {
    padding: 0%;
    margin: 0%;
 box-sizing: border-box;
}
.header {

}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0% auto;
}
.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.items {
    display: flex;
}
.header {
    margin-top: 30px;
    margin-bottom: 131px;
}
.nav_list {
    list-style: none;
    display: flex;
    gap: 30px;
margin-left: 600px;
    .nav_item a {
        font-family: "Inter";
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
text-align: left;
text-decoration: none;
color: $title;

    }
  
}
.nav_list a:hover {
    color: #EC6C21;
}
.items {
    gap: 13px;
}
.Login-text {
    font-family: "Inter";
font-size: 16px;
font-weight: 500;
line-height: 19.36px;

}
.items img {
    position: relative;
  top: 3px;
}

.Login-text {
    font-family: "Inter";
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
text-align: left;
border: 1px solid #EC6C21;
padding-top: 18px;
padding-right: 30px;
padding-bottom: 18px;
padding-left: 30px;
background-color: #EC6C21;
position: relative;

}
.items {
    position: relative;
}
.user_image {
    position: absolute;
   
    display: none;
}
.main_container h1 {
    font-family: "Inter";
font-size: 61px;
font-weight: 600;
line-height: 70px;
text-align: center;
color: $title;


}
p {
    margin-top: 40px;
    font-family: "Inter";
font-size: 19.3px;
font-weight: 400;
line-height: 28px;
text-align: center;
width: 636;
margin-bottom: 55px;
}
.main_container a {
    text-decoration: none;
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 18px;
    padding-left: 30px;
    border: 1px solid $rang;
    background-color: $rang;
    text-decoration: none;
    color: #FFFF;
    font-family: "Inter";
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
text-align: left;
margin-top: 55px;
position: relative;
left: 530px;
}
body {

}
.main_container a:hover {
    color: aqua;
}
.left-chain {
    position: relative;
    bottom: 200px;
    left: 150px;
}
.right-chain {
  position: relative;
  bottom: 330px;
  left: 765px;  
}
.saly_container {
    background-image: url("../images/layer-back.png");
   position: relative;
   bottom: 200px;
}
.saly_container img {
    position: relative;
    left: 175px;
    bottom: 120px;

}











